
<h1>Upload</h1>

<form action="/api/upload" method="post" enctype="multipart/form-data">
   <div class="form-group">
           <input class="form-control" type="file" name="filename">
          <button class="btn btn-large btn-block btn-primary" type="submit" value="Upload">Add</button>
  </div>
</form>
   
